{% extends 'base.html' %}

{% block body %}
<div class="container">
  <div class="jumbotron">
    <h2>搜索PubMed文献中提到的突变位点</h2>

    <p>通过搜索式获取相关的文献摘要和摘要中提及的位点</p>

    <form method="post" action="/get_result">
      <div class="form-group form-inline" style="padding-top: 1em">
        <input class="form-control" type="text" style="width: 80%;" name="formula"
               placeholder="pubmed search formula, like: ?term=breast+cancer+china+chinese+human+mutation">
        <button class="btn">搜索</button>
      </div>
    </form>
    <!--<ul>-->
    <!--{% for formula in formulas %}-->
    <!--<li><a href="{{ url_for('pubmed.view_pmid_abstract', formula=formula) }}">{{ formula }}</a></li>-->
    <!--{% endfor %}-->
    <!--</ul>-->
  </div>
  <h4>使用过的搜索式</h4>

  <div class="list-group">
    {% for formula in formulas %}
    <a class="list-group-item" href="{{ url_for('pubmed.view_pmid_abstract', formula=formula) }}">
      <p class="list-group-item-text" style="word-wrap: break-word">{{ formula }}</p>
    </a>
    {% endfor %}
  </div>
</div>
{% endblock %}